<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <title>Simulation</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    Add a line to a map using a GeoJSON source
    <div class="container">
        <form id="getpath" action="/getpath" method="POST">
            <label for="start_la">Start Latitude</label>
            <input name="start_la" type="text" value="28.6346695"/>
            <label for="start_lo">Start Longitude</label>
            <input name="start_lo" type="text" value="77.1661268"/>
            <br>
            <label for="end_la">End Latitude</label>
            <input name="end_la" type="text" value="28.6557789"/>
            <label for="end_lo">End Longitude</label>
            <input name="end_lo" type="text" value="77.1740828"/>
            <br>
            <button type="submit" form="getpath" > Submit </button>
        </form>
        <br>
        <div id="map" style="height: 600px; width: 1000px; margin:auto;"></div>
    </div>
    <script>

        mapboxgl.accessToken =
            'pk.eyJ1Ijoic2hhYW50YW51MzE0IiwiYSI6ImNrcDlmOHI0dDBmcHYycHQ3eTY2Mjl6MncifQ.pE8Tb0dlKLdmtz9jg2qe8w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center:[77.1661268,28.6346695],
            zoom: 15
        });

        map.on('load', function () {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates':[[77.1661268,28.6346695],[77.1667771,28.6350313],[77.1675627,28.6354685],[77.1685548,28.6360205],[77.1677469,28.6371633],[77.1697627,28.6383046],[77.1710437,28.6390298],[77.1725253,28.6396148],[77.1732414,28.6398014],[77.174127,28.6400322],[77.1742762,28.640748],[77.1743005,28.6408648],[77.1739221,28.6409834],[77.1738719,28.6410169],[77.173833,28.6410604],[77.1738077,28.641111],[77.1737976,28.6411656],[77.1738035,28.6412207],[77.1738249,28.6412727],[77.1738604,28.6413183],[77.1740996,28.6415068],[77.1739297,28.6415944],[77.1737972,28.6416641],[77.1737301,28.6417112],[77.1735316,28.6418548],[77.1732795,28.6419937],[77.1729669,28.6421769],[77.1732073,28.6424743],[77.1732841,28.6425729],[77.1706842,28.6440819],[77.1696774,28.6446673],[77.1694613,28.6447916],[77.1680836,28.6456245],[77.167979,28.6456877],[77.1681029,28.645833],[77.1679968,28.6458996],[77.1667147,28.646663],[77.1680247,28.6483944],[77.167079,28.6489559],[77.1672349,28.649151],[77.1668993,28.649337],[77.1669514,28.6494073],[77.1655612,28.6501711],[77.165896,28.6506005],[77.1661123,28.6508603],[77.1664485,28.651309],[77.1656402,28.6517915],[77.1662278,28.6525549],[77.1665391,28.6529674],[77.1668815,28.6534042],[77.1672397,28.6538696],[77.1676204,28.6536481],[77.1680549,28.6533952],[77.1683904,28.6538273],[77.1681535,28.6539758],[77.1683228,28.6542102],[77.1684815,28.6544213],[77.1680814,28.6546762],[77.168243,28.6548971],[77.1679956,28.6550564],[77.1684743,28.6556648],[77.1684583,28.6557401],[77.1682173,28.6558726],[77.1682553,28.6559252],[77.1684073,28.6561355],[77.1686862,28.6567286],[77.1691623,28.6576477],[77.1692602,28.6578525],[77.1693125,28.6580149],[77.1693769,28.6581914],[77.1694171,28.6584233],[77.1694352,28.6584986],[77.1694701,28.6585727],[77.1695057,28.658688],[77.17014,28.6585527],[77.1704082,28.658475],[77.1709272,28.6584421],[77.1709581,28.6587869],[77.1714047,28.6587587],[77.1714596,28.6590434],[77.1718691,28.6589316],[77.1725208,28.6587847],[77.1725848,28.6587577],[77.1732131,28.6584928],[77.1730864,28.6582168],[77.1739688,28.6580342],[77.1747313,28.6579077],[77.1749414,28.6578538],[77.1746179,28.6576419],[77.1744758,28.6575383],[77.1744141,28.6573265],[77.1742746,28.6570746],[77.1742398,28.6570111],[77.1742317,28.6568416],[77.1743551,28.6567428],[77.1745039,28.6566722],[77.1746474,28.6566369],[77.1747601,28.6565745],[77.1749187,28.6563209],[77.1747252,28.6561602],[77.1743605,28.6559143],[77.1742384,28.6557931],[77.1741942,28.6557377],[77.1740828,28.6557789]]
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
    </script>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>