<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <title>Simulation</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    Add a line to a map using a GeoJSON source
    <div class="container">
        <form id="getpath" action="/getpath" method="POST">
            <label for="start_la">Start Latitude</label>
            <input name="start_la" type="text" value="28.6346695"/>
            <label for="start_lo">Start Longitude</label>
            <input name="start_lo" type="text" value="77.1661268"/>
            <br>
            <label for="end_la">End Latitude</label>
            <input name="end_la" type="text" value="28.6557789"/>
            <label for="end_lo">End Longitude</label>
            <input name="end_lo" type="text" value="77.1740828"/>
            <br>
            <button type="submit" form="getpath" > Submit </button>
        </form>
        <br>
        <div id="map" style="height: 600px; width: 1000px; margin:auto;"></div>
    </div>
    <script>

        mapboxgl.accessToken =
            'pk.eyJ1Ijoic2hhYW50YW51MzE0IiwiYSI6ImNrcDlmOHI0dDBmcHYycHQ3eTY2Mjl6MncifQ.pE8Tb0dlKLdmtz9jg2qe8w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center:[77.1661268,28.6346695],
            zoom: 15
        });

        map.on('load', function () {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates':[[77.1661268,28.6346695],[77.1667771,28.6350313],[77.1675627,28.6354685],[77.1685548,28.6360205],[77.1677469,28.6371633],[77.1697627,28.6383046],[77.1710437,28.6390298],[77.1725253,28.6396148],[77.1732414,28.6398014],[77.174127,28.6400322],[77.1742762,28.640748],[77.1743005,28.6408648],[77.1745474,28.6409988],[77.1746698,28.6412928],[77.1747659,28.6415234],[77.1747962,28.6415439],[77.1748235,28.6415675],[77.1748567,28.6416061],[77.1748817,28.6416492],[77.1748979,28.6416954],[77.1749043,28.6417434],[77.1749033,28.6417839],[77.1748954,28.6418239],[77.1748807,28.6418624],[77.1748596,28.6418985],[77.1748327,28.6419315],[77.1748004,28.6419605],[77.1747635,28.641985],[77.1748348,28.6421279],[77.1749526,28.6423067],[77.175103,28.6424714],[77.1750492,28.6424974],[77.1737626,28.6432632],[77.1725213,28.6440654],[77.1699671,28.6455683],[77.1694028,28.6459106],[77.1671855,28.6472642],[77.1659247,28.6480216],[77.1662666,28.6484831],[77.1665616,28.6488813],[77.1666175,28.6489567],[77.1668993,28.649337],[77.1669514,28.6494073],[77.1670482,28.6495525],[77.1671806,28.6498266],[77.1669621,28.6499582],[77.1669751,28.6499734],[77.1673706,28.6504607],[77.167542,28.6506868],[77.1677167,28.6509117],[77.1680915,28.6514182],[77.1682772,28.651647],[77.1681753,28.652106],[77.1679231,28.6522589],[77.1682199,28.6526534],[77.1685504,28.6530927],[77.1683012,28.653245],[77.1680549,28.6533952],[77.1683904,28.6538273],[77.1681535,28.6539758],[77.1683228,28.6542102],[77.1684815,28.6544213],[77.1680814,28.6546762],[77.168243,28.6548971],[77.1685615,28.6553364],[77.1685052,28.655613],[77.1684743,28.6556648],[77.1684583,28.6557401],[77.1682173,28.6558726],[77.1682553,28.6559252],[77.1684073,28.6561355],[77.1686862,28.6567286],[77.1691623,28.6576477],[77.1692602,28.6578525],[77.1693125,28.6580149],[77.1693769,28.6581914],[77.1694171,28.6584233],[77.1694352,28.6584986],[77.1694701,28.6585727],[77.1695057,28.658688],[77.17014,28.6585527],[77.1704082,28.658475],[77.1709272,28.6584421],[77.1709581,28.6587869],[77.1714047,28.6587587],[77.1714596,28.6590434],[77.1718691,28.6589316],[77.1725208,28.6587847],[77.1725848,28.6587577],[77.1732131,28.6584928],[77.1730864,28.6582168],[77.1739688,28.6580342],[77.1747313,28.6579077],[77.1749414,28.6578538],[77.1746179,28.6576419],[77.1744758,28.6575383],[77.1744141,28.6573265],[77.1742746,28.6570746],[77.1742398,28.6570111],[77.1742317,28.6568416],[77.1740332,28.6567051],[77.1738911,28.6565333],[77.1738294,28.6564062],[77.1738186,28.6561544],[77.1738093,28.6560072],[77.1737449,28.655906],[77.17371,28.655866],[77.1740828,28.6557789]]
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
    </script>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>